.blogs-container {
    margin: 20px 10px;
    /* width: 30%; */
    padding: 20px;
}
.blog {
    padding: 30px;
    font-size: 18px;
}
.blog h4 {
    font-size: medium;
    font-weight: 500;
    color: rgb(44, 43, 43);
}
@media only screen and (max-width: 600px) {
}