.chart-container {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin: 20px;
    gap: 20px;
   
}
.revenue h3{
    text-align: left;
}
@media only screen and (max-width: 600px) {
    .chart-container {
        display: grid;
        grid-template-columns: 1fr;
    } 
   
}
