.header-container {
    padding: 20px;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
   
}
.header-container span{
   display: none;
}
@media only screen and (max-width: 600px) {
    nav {
        display: block;
        gap: 20px;
    }
}