.footer-container {
    background-color: rgb(22, 22, 22);
    padding: 10px;
    margin-top: 20px;
    color: white;
    text-align: start;
}
.footer-container h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 , 20px;
}
.footer-info .title {
    padding-bottom: 20px;
}
hr {
    width: 80%;
    border-top: 1px solid rgb(62, 62, 62);
}
.icon {
    padding: 20px 0px;
    text-align: center;
}
.icon span{
  font-size: 18px;
  transition-timing-function: ease-in ;
  transition-duration: 0.3s;
  padding-left: 10px;
}
.icon span:hover{
   font-size: 26px;
    
}
.icon span a {
    color: white ;
}
@media only screen and (max-width: 600px) {
    .footer-info {
        display: block;
        justify-content: space-around;
        align-items: center;
        padding: 0 , 20px;
    }
    .footer-info p {
        padding: 0px 20px;
        text-align: center;
    }
    } 