.section-one {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info {
    margin-right: 50px;
    margin-left: 50px;
}
.home-container  h1 {
    font-size: 50px;
    font-weight: 500;
   
}
.info p {
    font-size: 28px;
    font-weight: 100;
    color: rgb(9, 9, 9);
}
.home-container img{
 width: 50%;
}
.reviews {
    margin: 20px;
    display: grid ;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;

}
.see-all-btn {
    justify-content: center;
    border: 2px solid purple;
    font-size: 20px;
    background-color: white;
    padding: 20px 60px;
    margin: 20px;
    border-radius: 2px;
    transition-timing-function: ease-in ;
    transition-duration: 0.4s;
}
.see-all-btn:hover {
    background-color: purple;
}
@media only screen and (max-width: 600px) {
    .section-one {
        margin: 50px;
        display: block;
        justify-content: space-evenly;
        align-items: center;
    }
    .reviews {
        margin: 20px;
        display: grid ;
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
    
    }
}